#myCarousel {
  width: 50vw;
  height: 50vh;
  margin: auto;
}

#myCarousel .carousel-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#myCarousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#myCarousel .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
